body, html{}
body {
	padding-top: 50px;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}

h2 {
	margin:1em 0;
}
img {
	max-width: 90%;
	transition: all 0.3s;
}
a {
	color: #404040;
	transition: all 0.3s;
}
a:hover {
	color: #808080;
	text-decoration: none;
}
a:hover img {
	transform: scale(1.1);
	transition: all 0.3s;
}
/* FULLPAGE */
.fa {
	font-size: 1.3em;
	margin: 0 5px;
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.section {
	text-align: center;
}
.type-contain {
	position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.line-1 {
    width: 7.5em;
    margin: 0 auto 0.3em;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.typewriter {
	overflow: hidden;
	animation: type 2s steps(16) 1s 1 normal both,
             blinkText 500ms steps(16) infinite normal;
}
@keyframes type {
	from { width: 0; }
	to { width: 7.5em; }
}
@keyframes blinkText {
	from { border-right-color: black; }
	to { border-right-color: transparent; }
}

#section1 {
	background: url('img/main-background.gif');
	background-size: cover;
}
/* FULLPAGE */

.full-page {
	/*Horiztonally and vertically centering content"*/
/*  display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.landing-title {
	font-size: 60px;
}
.row-spacing {
	margin-top: 3em;
	margin-bottom: 3em;
}
.navbar {
	background-color: white;
}
.navbar a {
	color: black;
}

.background {
	height: auto;
	width: 100%;
}
.center-it {
	position: absolute;
}*/
