.container .jumbotron {
	background-color: #b3ffb3;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.container .main {
	border-radius: 5px;
	background-color: #ffffcc;
	
}
.container .main h2 {
	padding-top: 10px;
	margin-left: 20px;
}
.container .main ul {
	font-size: 18px;
}