hr { 
  	display: block;
   	margin-top: 0.5em;
  	margin-bottom: 0.5em;
  	margin-left: auto;
  	margin-right: auto;
    	border-style: inset;
    	border-width: 1px;
	color: black;
}
.container h1 {
	padding: 0px 50px 0px 50px;
	font-family: Rockwell;
}

.jumbotron {
	background-color: #cce6ff !important;
	text-align: center;	
}
.container .welcome {
	margin-top: 20px;
	margin-bottom: 50px;
	margin-left: 20px;
	margin-right: 20px;
}
.container .welcome h2{
	
}
.container .welcome p {
	font-size: 18px;
}

.container .introduction {
	background-color: #efefef;
	border-radius: 5px;
	margin-bottom: 50px;
	
}
.container .introduction h2 {
	margin-left: 30px;
	text-decoration: underline;
	padding-bottom: 10px;
}
.container .introduction p {
	margin-left: 30px;
	font-size: 18px;
	margin-right: 20px;
}
img {
	height: auto;
	width: auto;
	max-width: 100%;
	margin: auto;
	display: inline;
	border-radius: 5px;
}
.container .projects {
	border-radius: 5px;
	background-color: #e6ffe6;
	margin-bottom: 50px;
	padding-bottom: 10px;
}
.container .projects h2 {
	margin-left: 20px;
	text-decoration: underline;
	padding-top: 10px;
	padding-bottom: 10px;
}
.container .projects ul {	
	list-style-type: none;
	font-size: 18px;
	margin-right: 20px;
	text-align: center;
}
.education {
	border-radius: 5px;
	background-color: #FAEBD7;
	margin-bottom: 50px;
	padding-bottom: 10px;
}
.education h2 {
	margin-left: 20px;
	text-decoration: underline;
	padding-top: 10px;
	padding-bottom: 10px;
}
.education ul {
	list-style-type: none;
	font-size: 18px;
	margin-right: 20px;
	text-align: center;
}

.skills {
	border-radius: 5px;
	background-color: #F5F5DC;
	padding-bottom: 10px;
	margin-bottom: 50px;
}
.skills h2 {
	margin-left: 20px;
	text-decoration: underline;
	padding-top: 10px;
	padding-bottom: 10px;
}
.skills ul {
	font-size: 18px;
}